
<div class="row marketing">
  <h3><i><b>Did you know?</b></i></h2>
  Your keyboard is a keyboard.
</div>

<div class="row" id="credits">
  <small>Audio code courtesy of <a href="http://www.keithwhor.com/music/">Keith William Horwood</a>. Modifications by Egbert Teeselink to make the sound fatter.</small>
</div>
